<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alanddev.gymlover">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SelectThemeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.NotifyService" />

        <receiver android:name=".service.MyScheduleReceiver">
            <intent-filter>
                <action android:name="com.alanddev.manwal.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.MyStartServiceReceiver" />

        <activity
            android:name=".ui.ExerciseGrpActivity"
            android:label="@string/title_activity_exercise_grp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BodyFatActivity"
            android:label="@string/title_activity_body_fat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ExerciseDetailActivity"
            android:label="@string/title_activity_exercise_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WorkoutRunActivity"
            android:label="@string/title_activity_workout_run"
            android:theme="@style/AppTheme.NoActionBar" />
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WorkoutSettingActivity"
            android:label="@string/title_activity_workout_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WorkoutExerActivity"
            android:label="@string/title_activity_workout_exer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ExerciseWoActivity"
            android:label="@string/title_activity_exercise_wo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TransactionAddActivity"
            android:label="@string/title_activity_transaction_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ResultWorkoutActivity"
            android:label="@string/title_activity_result_workout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.TransactionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
